
<link rel="stylesheet" type="text/css" href="/css/login.css" ></link>
<div class="container">
    <!-- <h1 class="form-heading"></h1> -->
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Admin panel</h2>
                <p>Please enter a username and password</p>
            </div>
            <div style="color: red" th:if="${error} != null" th:text="${error}"></div>
            <form id="Login" method="post">

                <div class="form-group">

                    <input type="text" class="form-control" id="inputUsername"  name="username" placeholder="потребител">

                </div>

                <div class="form-group">

                    <input type="password" class="form-control" id="inputPassword"  name="password" placeholder="парола">

                </div>
                <div class="form-check">
                    <label class="form-check-label">
                    <input name="remember" type="checkbox" class="form-check-input"> Remember	
                    </label>
                </div>
                <button type="submit" class="btn btn-primary" value="log in">Log in</button>

            </form>
        </div>

    </div></div></div>